@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 221 44% 8%;
		--player: 0 0% 90%;
		--player-foreground: 220 42% 16%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 313 52% 45%;
		--primary-foreground: 313 43% 48%;
		--primary-foreground-text: 313 81% 75%;

		--secondary: 0 0% 91%;
		--secondary-foreground: 220 34% 12%;
		--muted: 0 0% 52%;
		--muted-foreground: 240 7% 62%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 221 44% 8%;
		--foreground: 0 0% 100%;
		--player: 220 42% 16%;
		--player-foreground: 0 0% 90%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 313 52% 45%;
		--primary-foreground: 313 81% 75%;
		--primary-foreground-text: 313 43% 48%;

		--secondary: 220 34% 12%;
		--secondary-foreground: 0 0% 91%;

		--muted: 240 7% 62%;
		--muted-foreground: 0 0% 52%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground dark:text-[#e0e0e0];
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: hsl(var(--background));
	border: hsl(var(--secondary));
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: hsl(var(--player));

	border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	opacity: 0.9;
}

[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	background-color: hsl(var(--primary-foreground));
	-webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='red'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
	background-size: 18px 18px;
	height: 18px;
	width: 18px;
}

.popover-content-width-same-as-its-trigger {
	width: var(--radix-popover-trigger-width);
	max-height: var(--radix-popover-content-available-height);
}
